p, input {
  color: white;
  font-family: 'Baloo Chettan 2', Helvetica, Arial;
  font-weight: 600;
  font-size: 1.2rem;
}

input {
  color: black;
}

.input-ul {
  padding: 0;
  margin: 0;
}

.input-ul li {
  display: inline-block;
}

.input-div {
  display: flex;
  /*flex-direction: row;*/
  justify-content: center;
  display: inline-block;
  width: 20rem;
  box-shadow: 0px 0.25rem 0.625rem 0.25rem #eee;
  border-radius: 1rem;
  padding: 0 0 2rem 0;
  margin: 3rem;
}

.input-box-buttons {
  margin: 3rem;
}

.input-box-button-li {
  white-space: nowrap;
}

.input-box-button {
  display: inline;
  white-space: pre-wrap;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  margin: 1rem;
}

.input-section {
  padding: 0 1rem 0 1rem;
}

.input-p {
  text-align: center;
}

.input-box {
  margin: 0 auto;
  display: block;
  width: 12rem;
  padding: 5px;
}

.custom-tooltip {
  text-align: center;
  width: 6rem;
  border: 0.1rem solid #eee;
  background-color: white;
}

.tooltip-ul {
  padding: 0;
}

.tooltip-ul li {
  font-size: 1.2rem;
}

.tooltip-label {
  color: black;
}

li {
  list-style-type: none;
}

/* for tablet */
@media only screen and (max-width: 780px) {
  .input-p {
    font-size: 1.5rem;
  }
  .input-div {
    min-width: 20rem;
    margin: 3rem;
  }

  .input-box-button {
    border: none;
    padding: 1rem 2rem;
    font-size: 4rem;
    margin: 1rem;
  }

  .input-box-button-li {
    margin: 5rem;
  }
}

/* for mobile */
@media only screen and (max-width: 500px) {
  .input-p {
    font-size: 2.5rem;
  }

  .input-div {
    min-width: 30rem;
    margin: 3rem;
  }

  .input-box {
    font-size: 2rem;
    margin: 0 auto;
    display: block;
    width: 18rem;
    padding: 5px;
  }

  .input-box-button-li {
    margin: 5rem;
  }
}