p, input {
  color: white;
  font-family: 'Baloo Chettan 2', Helvetica, Arial;
  font-weight: 600;
  font-size: 1.2rem;
}

input {
  color: black;
}

.input-ul {
  padding: 0;
  margin: 0;
}

.input-ul li {
  display: inline-block;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 20rem;
  box-shadow: 0px 0.25rem 0.625rem 0.25rem #eee;
  border-radius: 1rem;
  margin: 3rem;
  padding: 0 0 2rem 0;
}

.input-box-button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  margin: 1rem;
}

.input-p {
  text-align: center;
}

.main-input {
  width: 50%;
  margin: auto;
  padding: 5px;
}

.custom-tooltip {
  text-align: center;
  width: 6rem;
  border: 0.1rem solid #eee;
  background-color: white;
}

.tooltip-ul {
  padding: 0;
}

.tooltip-ul li {
  font-size: 1.2rem;
}

.tooltip-label {
  color: black;
}

li {
  list-style-type: none;
}

/* 800px or less */
@media only screen and (max-width: 50em) {
  p {
    font-size: 2.5em;
  }
  .input-div {
    width: 40em;
    height: 40em;
    margin: 2em 14em;
    padding: 5em 0;
  }
  .input-box-button {
    margin-left: 3.5em;
    border: none;
    padding: 2rem 4rem;
    font-size: 8rem;
  }
  input {
    height: 10em;
    width: 10em;
    font-size: 2em;
  }
}

/*
@media only screen and (max-width: 40em) {
  .input-div {
    width: 35rem;
    height: 30rem;
  }
  .input-box-button {
    border: none;
    padding: 1.5rem 3rem;
    font-size: 6rem;
  }
}
*/