p, input {
  font-family: Helvetica, Arial;
}

.input-ul {
  margin: auto;
}

.input-ul li {
  display: inline-block;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: white;
  box-shadow: 0px 0.25rem 0.625rem 0.25rem #eee;
  border-radius: 2px;
  margin: 3rem;
  padding: 10px 0 30px 0;
}

.input-box-button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  margin: 1rem;
}

.input-p {
  text-align: center;
}

.main-input {
  width: 50%;
  margin: auto;
  padding: 5px;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 50em) {
  .input-div {
    width: 30rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 40em) {
  .input-div {
    width: 40rem;
    height: 30rem;
  }
}